    
      #slider_container{
         height: 55vh;
         width: 95vw;
          border: 2px solid blue;
          margin: 30px;
          z-index: 5;
      }
      .header_links{
          color: black;
          font-size: large;
          font-weight: 700;
          padding: 20px 15px;
          border: none;
      }
      #signup_btn{
        height: 5vh;
        padding: 20px 15px;
        background-color: transparent;
        text-align: center;
        justify-items: center;
        
        
      }

      .header_links:hover{
        color: white;
        
      }
      #background_blur{
        background-image: linear-gradient(270deg, rgba(179, 217, 67, 1), rgba(
            217, 91, 132, 0)),url('src/assets/hr4.jpg');
        height: 160vh;
        width: 98.5vw;
        filter: blur(5px);
        position: absolute;
        background-repeat: no-repeat;
         background-size: cover;
      }
    
      .top_container{
        position: absolute;
          display: flex;
          flex-direction: column;
          height: max-content;
          width: 98.5vw;
          z-index: 2;
          
      
      }
     .image_container{
       
        height: 100%;
        width: 20%;
        z-index: 2;
      }
      #logo_img{
        height: 100%;
        width: 100%;
      }


/* OUR SERVICES*/
#our_services{
  height: 70vh;
  width: 95vw;
  margin: 30px 30px;
  text-align: center;
  justify-content: center;
  justify-items: center;
  padding: 20px;
  
}
.h2_head{
  text-align: center;
  font-weight: 700;
  font-size: 3.2rem;
  color: black;
  
}
.services_description{
  padding: 20px;
  margin-top: 30px;
 
}
.services_description h5{
  color: rgb(37, 35, 35);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 20px;
}

.services_description p{
  font-size: 14px;
}
      

.services_description img{
height: 100px;
width: 100px;
}


/* ABOUT US  */

#about_us{
  height: 50vh;
  width: 95vw;
  
  margin: 30px 30px;
  text-align: center;
  justify-content: center;
  justify-items: center;
  padding: 0px 35px 0px 35px;
  
  display: flex;
}

#about_us img{
  width: 1300px;
  height: auto;
  border-radius: 15%;
}

#about_us div{
 padding: 40px 50px;
 font-size: 14px;
}
#about_us p{
  padding-top: 20px;
  font-size: 14px;
  font-weight: 400;
 }


 /* CONTACT US */

 #contact_us{
  height: 50vh;
  width: 98.5vw;
  text-align: center;
  justify-content: center;
  justify-items: center;
  display: flex;
  
  
  
 }
 .contact_us_box{
   display: flex;
   flex-direction: column;
  
  height: 230px;
  width: 380px;
  margin: 10px 30px;
 }
 .contact_us_box a{

   padding: 0;
 }
 .contact_us_box h2{
   margin-left: -10vw;
 }
 .contact_icons{
   width: 30px;
   height: 30px;
  
   margin-left: 0px;
 }

.contact_span{
  font-size: 15px;
  margin-left: 40px;
  font-weight: 600;
}

.contact_us_box h5{
  color: rgb(37, 35, 35);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 20px;
}

.contact_us_box button{
  width: 50%;
  height: 20%;
  color: black;
  background-color: #b3d943;;
margin: auto;
font-size: 20px;
border-radius: 5px;
margin-top: -10px;
}

.contact_us_box button:hover{
  color: white;
  text-decoration: underline;
}

#newsletter_input{
  width: 230px;
  height: 40px;
  margin: auto;
  border-radius: 5px;
  outline: none;
  border: none;
  font-size: 16px;
  padding: 10px;
}

.bg-modal{
  background-color: rgba(0,0,0,0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-contents{
  height: 550px;
  width: 500px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  margin: auto;
}

.avatar{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin: auto;
  margin-top: 30px;
}

.infocontainer{
  display: flex;
  flex-direction: column;
  margin-top: 40px;

}

.label_text{
  color: rgb(37, 35, 35);
  font-weight: bold;
  font-size: 15px;
}
.infocontainer input{
  width: 250px;
  height: 30px;
  margin: auto;
  border-radius: 5px;
  outline: none;
  border: 1px solid grey;
  font-size: 16px;
  padding: 10px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#login_btn{
  width: 40%;
  height: 20%;
  color: black;
  background-color: #b3d943;;
margin: auto;
font-size: 20px;
border-radius: 5px;
margin-top: 20px;
margin-left: 10%;
}

.infocontainer label{
  color: rgb(70, 55, 55);
  font-weight: 400;
  font-size: 15px;
}

.infocontainer label input{
  height: 20px;
  width: 40px;
  margin-left: -3vw;
}
#cancel_btn{
  width: min-content;
  height: min-content;
  color: rgb(97, 88, 88);
  background-color:transparent;
font-size: 20px;
border: none;
margin-top: 2px;
margin-left: 95%;
}