<!DOCTYPE html>
<html>
  <head>
    <title>Employee Feedback Form</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  </head>
  <body>
    <div class="testbox">
      <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
        <h1>Employee Feedback Form</h1>
        <p>Please take a few minutes to give us feedback by filling in this short Employee Feedback Form. We are conducting this research in order to measure your level of satisfaction at the work place. We thank you for your participation.</p>
        <hr /><br>
        <div>
            <label>First Name : </label>
            <input type="text" placeholder="Aakanksha" style="width: 20vw; margin-left: 4vw;" readonly/>
            <label style="margin-left: 10vw;">Last Name : </label>
            <input type="text" placeholder="Sahu" style="width: 20vw; margin-left: 4vw;" readonly/><br><br>
            <label>Employee ID : </label>
            <input type="text" placeholder="Kipi410" style="width: 20vw; margin-left: 3.4vw;" readonly/>
        </div>
        <h3>Overall experience with our service</h3>
        <table>
          <tr>
            <th class="first-col"></th>
            <th><img class="faceImage" src="/assets/smile.png"/></th>
            <th><img class="faceImage" src="/assets/lessSmile.png"/></th>
            <th><img class="faceImage" src="/assets/neutralFace.png"/></th>
            <th><img class="faceImage" src="/assets/sadFace.png"/></th>
            <th><img class="faceImage" src="/assets/saddestFace.png"/></th>
          </tr>
          <tr>
            <td class="first-col">How would you rate your overall experience with our service?</td>
            <td><input type="radio" value="Very Good" name="overall" formControlName="overall" /></td>
            <td><input type="radio" value="Good" name="overall" formControlName="overall"/></td>
            <td><input type="radio" value="Fair" name="overall" formControlName="overall"/></td>
            <td><input type="radio" value="Poor" name="overall" formControlName="overall"/></td>
            <td><input type="radio" value="Very Poor" name="overall" formControlName="overall"/></td>
          </tr>
          <tr>
            <td class="first-col">How satisfied are you with the comprehensiveness of our offer?</td>
            <td><input type="radio" value="Very Good" name="comprehensiveness" formControlName="comprehensiveness" /></td>
            <td><input type="radio" value="Good" name="comprehensiveness" formControlName="comprehensiveness"/></td>
            <td><input type="radio" value="Fair" name="comprehensiveness" formControlName="comprehensiveness"/></td>
            <td><input type="radio" value="Poor" name="comprehensiveness" formControlName="comprehensiveness"/></td>
            <td><input type="radio" value="Very Poor" name="comprehensiveness" formControlName="comprehensiveness"/></td>
          </tr>
          <tr>
            <td class="first-col">How satisfied are you with the comprehensiveness of our offer?</td>
            <td><input type="radio" value="Very Good" name="comprehensiveness" formControlName="comprehensiveness" /></td>
            <td><input type="radio" value="Good" name="comprehensiveness" formControlName="comprehensiveness"/></td>
            <td><input type="radio" value="Fair" name="comprehensiveness" formControlName="comprehensiveness"/></td>
            <td><input type="radio" value="Poor" name="comprehensiveness" formControlName="comprehensiveness"/></td>
            <td><input type="radio" value="Very Poor" name="comprehensiveness" formControlName="comprehensiveness"/></td>
          </tr>
          <tr>
            <td class="first-col">How satisfied are you with the comprehensiveness of our offer?</td>
            <td><input type="radio" value="Very Good" name="comprehensiveness" formControlName="comprehensiveness" /></td>
            <td><input type="radio" value="Good" name="comprehensiveness" formControlName="comprehensiveness"/></td>
            <td><input type="radio" value="Fair" name="comprehensiveness" formControlName="comprehensiveness"/></td>
            <td><input type="radio" value="Poor" name="comprehensiveness" formControlName="comprehensiveness"/></td>
            <td><input type="radio" value="Very Poor" name="comprehensiveness" formControlName="comprehensiveness"/></td>
          </tr>
          <tr>
            <td class="first-col">How satisfied are you with the comprehensiveness of our offer?</td>
            <td><input type="radio" value="Very Good" name="comprehensiveness" formControlName="comprehensiveness" /></td>
            <td><input type="radio" value="Good" name="comprehensiveness" formControlName="comprehensiveness"/></td>
            <td><input type="radio" value="Fair" name="comprehensiveness" formControlName="comprehensiveness"/></td>
            <td><input type="radio" value="Poor" name="comprehensiveness" formControlName="comprehensiveness"/></td>
            <td><input type="radio" value="Very Poor" name="comprehensiveness" formControlName="comprehensiveness"/></td>
          </tr>
          <tr>
            <td class="first-col">How satisfied are you with the comprehensiveness of our offer?</td>
            <td><input type="radio" value="Very Good" name="comprehensiveness" formControlName="comprehensiveness" /></td>
            <td><input type="radio" value="Good" name="comprehensiveness" formControlName="comprehensiveness"/></td>
            <td><input type="radio" value="Fair" name="comprehensiveness" formControlName="comprehensiveness"/></td>
            <td><input type="radio" value="Poor" name="comprehensiveness" formControlName="comprehensiveness"/></td>
            <td><input type="radio" value="Very Poor" name="comprehensiveness" formControlName="comprehensiveness"/></td>
          </tr>
          <tr>
            <td class="first-col">How satisfied are you with the comprehensiveness of our offer?</td>
            <td><input type="radio" value="Very Good" name="comprehensiveness" formControlName="comprehensiveness" /></td>
            <td><input type="radio" value="Good" name="comprehensiveness" formControlName="comprehensiveness"/></td>
            <td><input type="radio" value="Fair" name="comprehensiveness" formControlName="comprehensiveness"/></td>
            <td><input type="radio" value="Poor" name="comprehensiveness" formControlName="comprehensiveness"/></td>
            <td><input type="radio" value="Very Poor" name="comprehensiveness" formControlName="comprehensiveness"/></td>
          </tr>
          <tr>
            <td class="first-col">How satisfied are you with the comprehensiveness of our offer?</td>
            <td><input type="radio" value="Very Good" name="comprehensiveness" formControlName="comprehensiveness" /></td>
            <td><input type="radio" value="Good" name="comprehensiveness" formControlName="comprehensiveness"/></td>
            <td><input type="radio" value="Fair" name="comprehensiveness" formControlName="comprehensiveness"/></td>
            <td><input type="radio" value="Poor" name="comprehensiveness" formControlName="comprehensiveness"/></td>
            <td><input type="radio" value="Very Poor" name="comprehensiveness" formControlName="comprehensiveness"/></td>
          </tr>
          <tr>
            <td class="first-col">How satisfied are you with the comprehensiveness of our offer?</td>
            <td><input type="radio" value="Very Good" name="comprehensiveness" formControlName="comprehensiveness" /></td>
            <td><input type="radio" value="Good" name="comprehensiveness" formControlName="comprehensiveness"/></td>
            <td><input type="radio" value="Fair" name="comprehensiveness" formControlName="comprehensiveness"/></td>
            <td><input type="radio" value="Poor" name="comprehensiveness" formControlName="comprehensiveness"/></td>
            <td><input type="radio" value="Very Poor" name="comprehensiveness" formControlName="comprehensiveness"/></td>
          </tr>
          <tr>
            <td class="first-col">How satisfied are you with the comprehensiveness of our offer?</td>
            <td><input type="radio" value="Very Good" name="comprehensiveness" formControlName="comprehensiveness" /></td>
            <td><input type="radio" value="Good" name="comprehensiveness" formControlName="comprehensiveness"/></td>
            <td><input type="radio" value="Fair" name="comprehensiveness" formControlName="comprehensiveness"/></td>
            <td><input type="radio" value="Poor" name="comprehensiveness" formControlName="comprehensiveness"/></td>
            <td><input type="radio" value="Very Poor" name="comprehensiveness" formControlName="comprehensiveness"/></td>
          </tr>

         
        </table>
       <!-- <h4>What should we change in order to live up to your expectations?</h4>
        <textarea rows="5"></textarea>
        <h4>Email</h4>
        <small>Only if you want to hear more from us.</small>
        <input class="email" type="text" name="name" />-->
        <div class="btn-block">
          <button type="submit" href="/">Send Feedback</button>
          <br>
          <a href="">Go to next form</a>
        </div>
      </form>
    </div>
  </body>
</html>